# Telegram notification
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# database
DB_HOST=
DB_USER=
PASSWORD_DB=
DB_NAME=
DIALECT=

# MinIO
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_USE_SSL=false
